body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.slicer {
    margin: 5px auto 0 auto;
    width: 80%;
    height: 80%;
    background-color: #eee;
    border-radius: 6px;
    padding: 10px;
}

.slicer h1 {
    font-size: 20px;
    line-height: 1;
    letter-spacing: -1px;
}

canvas {
	width: 100%;
	height: 100%
}


#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #555 !important }

